.login-container{
    .loader-icon{
        margin-right: 7px;
        top: 2px;
        color: #00d4ff;
        animation: spin 1s infinite linear;
    }
    
    @keyframes spin {
        from {
            transform: scale(1) rotate(0deg);
        }
        to {
            transform: scale(1) rotate(360deg);
        }
    }
    .header {
        height: 45px;
        text-align: right;
        padding: 5px 100px 0;
        
        button {
            padding: 3px 15px;
            margin-left: 15px;
            border-radius: 5px;
            background: #f9f9f9;
            border: 1px solid black;

            &:hover {
                background: #cccccc;
            }
        }
    }
    .title {
        font-size: 25px;
        padding: 20px 0;
        text-align: center;
    }

    .welcome {
        font-size: 25px;
        padding: 10px 0;
        text-align: center;
    }

    .content-form {

        input {
            margin-bottom: 15px;
            margin-top: 3px;
        }

        button {
            width: 100%;
            height: 35px;
            border: none;
            margin: 20px 0;
            border-radius: 5px;
            color: white;
            background-color: black;
            
            // &:hover {
            //     background-color: #888888;
            // }

            &:disabled {
                background-color: #cccccc;
                color: #888888;
                cursor: no-drop;
            }
        }

        .back {
            text-align: center;
            
            .back-span {
                cursor: pointer;
            }
        }

    }
}